Repository climatepolicyradar/navigator-admin-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, markdownlint-cli2-fix-rules-docker

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-json
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.2
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: pyright
        name: pyright (admin-backend)
        entry: pyright
        language: node
        types: [python]
        additional_dependencies: ["pyright@1.1.294"]
  - repo: local
    hooks:
      - id: markdownlint-cli2-fix-rules-docker
        name: markdownlint (admin-backend)
        description: "Checks and fixes the style of Markdown files."
        entry: davidanson/markdownlint-cli2-rules markdownlint-cli2-fix
        language: docker_image
        types: [markdown]
        minimum_pre_commit_version: 0.15.0
# TODO more checks? e.g. bandit, safety, snyk, ...

Ingest service rethrows db exceptions
  app/api/api_v1/routers/ingest.py
  app/service/ingest.py
  tests/integration_tests/ingest/test_ingest.py
  tests/unit_tests/routers/ingest/test_ingest.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Return 503 from the ingest enpoint on db error
  app/api/api_v1/routers/ingest.py
  tests/unit_tests/routers/ingest/test_ingest.py
Due: pyright

Rollback db transaction on error
  app/api/api_v1/routers/ingest.py
  app/service/ingest.py
  tests/integration_tests/ingest/test_ingest.py
Due: pyright

Update version to 2.13.0
  pyproject.toml
Due: none

Rethrow HttpExceptions in the ingest endpoint
  app/api/api_v1/routers/ingest.py
Due: pyright

Undo accidental change
  tests/mocks/repos/rollback_family_repo.py
Due: pyright

Feature/pdct 1349 ingest family (#197)
  app/api/api_v1/routers/ingest.py
  app/model/family.py
  app/model/ingest.py
  app/repository/family.py
  app/service/ingest.py
  pyproject.toml
  tests/helpers/family.py
  tests/integration_tests/ingest/test.json
  tests/integration_tests/ingest/test_ingest.py
  tests/unit_tests/routers/ingest/test_ingest.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Bump db_client to 3.8.15
  pyproject.toml
Due: none

Run poetry lock
  poetry.lock
Due: none

Update version
  pyproject.toml
Due: none

Feature/pdct 1349 ingest family (#198)
  poetry.lock
  pyproject.toml
Due: none

remove use of geography_id
  app/repository/family.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/setup_db.py
Due: pyright

bump admin version
  poetry.lock
  pyproject.toml
Due: none

Update PR template to include checking the db_client version is latest
  .github/pull_request_template.md
Due: markdownlint-cli2-fix-rules-docker

Update PR template to include checking the db_client version is latest (#200)
  .github/pull_request_template.md
Due: markdownlint-cli2-fix-rules-docker

Remove use of geography_id on family update
  app/repository/family.py
  tests/integration_tests/family/test_create.py
Due: pyright

fix test
  tests/integration_tests/family/test_create.py
Due: pyright

fix tests
  tests/integration_tests/family/test_create.py
Due: pyright

Give import_id a default value of None on the FamilyCreateDTO
  app/model/family.py
  tests/helpers/family.py
Due: pyright

Increment patch version number
  pyproject.toml
Due: none

Give import_id a default value of None on the FamilyCreateDTO (#206)
  app/model/family.py
  pyproject.toml
  tests/helpers/family.py
Due: pyright

feature/pdct 1394 step 2 use new locations for geographies (#199)
  app/repository/family.py
  poetry.lock
  tests/integration_tests/family/test_create.py
  tests/integration_tests/setup_db.py
Due: pyright

Bump version to fix main
  pyproject.toml
Due: none

Give import_id a default value of None on CreateCollectionDTO
  app/model/collection.py
  tests/helpers/collection.py
Due: pyright

Bump patch version
  pyproject.toml
Due: none

Bump version to fix main (#207)
  pyproject.toml
Due: none

Bug/fix import id required when creating collection (#208)
  app/model/collection.py
  pyproject.toml
  tests/helpers/collection.py
Due: pyright

Check if document data exists in json
  app/service/ingest.py
  tests/unit_tests/routers/ingest/test_ingest.py
Due: pyright

Add documents to the import_data response
  app/service/ingest.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Validate metadata when ingesting documents
  app/service/ingest.py
  tests/integration_tests/ingest/test_ingest.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Validate that variant name is not empty when ingesting documents
  app/service/ingest.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Process multiple documents from json
  app/model/document.py
  app/model/ingest.py
  app/service/ingest.py
  tests/unit_tests/routers/ingest/test.json
  tests/unit_tests/routers/ingest/test_ingest.py
Due: pyright

Refactor + give import_id default value on DocumentCreateDTO
  app/model/document.py
  app/service/ingest.py
  tests/helpers/document.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Throw validation error when family does not exist for document + fix docstrings
  app/repository/collection.py
  app/service/ingest.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Make save functions not private so that they can be tested more easily
  app/service/ingest.py
  tests/unit_tests/routers/ingest/test.json
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Set family_import_id when saving documents
  app/model/ingest.py
  app/service/ingest.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Remove unnecessary TODO
  app/service/ingest.py
Due: pyright

Save documents to db on ingest
  app/repository/document.py
  app/service/ingest.py
  tests/integration_tests/ingest/test.json
  tests/integration_tests/ingest/test_ingest.py
  tests/unit_tests/routers/ingest/test_ingest.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright
