Repository climatepolicyradar/navigator-admin-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, markdownlint-cli2-fix-rules-docker

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-json
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.2
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: pyright
        name: pyright (admin-backend)
        entry: pyright
        language: node
        types: [python]
        additional_dependencies: ["pyright@1.1.294"]
  - repo: local
    hooks:
      - id: markdownlint-cli2-fix-rules-docker
        name: markdownlint (admin-backend)
        description: "Checks and fixes the style of Markdown files."
        entry: davidanson/markdownlint-cli2-rules markdownlint-cli2-fix
        language: docker_image
        types: [markdown]
        minimum_pre_commit_version: 0.15.0
# TODO more checks? e.g. bandit, safety, snyk, ...

Suppress all output & add proper failsafe for existing non empty dir
  .trunk/configure-pyright-with-pyenv.sh
Due: none

re-instate code - needed for family create
  tests/integration_tests/setup_db.py
Due: pyright

Fix auto tag build step skipped (#119)
  .github/workflows/ci-cd.yml
  .trunk/configure-pyright-with-pyenv.sh
Due: none

PDCT-889 Main Feature Branch (#110)
  app/repository/config.py
  app/repository/family.py
  app/repository/metadata.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/family/test_create.py
  tests/integration_tests/setup_db.py
Due: pyright

Force always() so we don't skip jobs on main
  .github/workflows/ci-cd.yml
Due: none

Don't run test or code-quality on manual semver
  .github/workflows/ci-cd.yml
Due: none

Fix auto tag tag & release steps skipped (#120)
  .github/workflows/ci-cd.yml
Due: none

Bump db-client to v3.3.0
  poetry.lock
  pyproject.toml
Due: none

bump project version
  pyproject.toml
Due: none

Bump db-client to v3.3.0 (#121)
  poetry.lock
  pyproject.toml
Due: none

Bump dbclient version to 3.4.0
  poetry.lock
  pyproject.toml
Due: none

Remove all references to MetadataTax, FamilyOrg & MetadataOrg
  app/repository/family.py
  tests/integration_tests/family/test_create.py
  tests/integration_tests/setup_db.py
Due: pyright

Bump package version to 2.3.0
  pyproject.toml
Due: none

Add more options for type of change
  .github/pull_request_template.md
Due: markdownlint-cli2-fix-rules-docker

Fix assertion to look at corpus.import_id
  tests/integration_tests/family/test_create.py
Due: pyright

Check for one or none and then not none
  tests/integration_tests/family/test_create.py
Due: pyright

Feature/pdct 937 change the schema to remove unused link tables (#122)
  .github/pull_request_template.md
  app/repository/family.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/family/test_create.py
  tests/integration_tests/setup_db.py
Due: pyright, markdownlint-cli2-fix-rules-docker

fix up tests that rollback - need to use begin_nested()
  app/clients/db/session.py
  tests/integration_tests/collection/test_delete.py
  tests/integration_tests/conftest.py
Due: pyright

Get most of tests working
  app/clients/db/session.py
  app/service/collection.py
  app/service/document.py
  app/service/event.py
  app/service/family.py
  tests/integration_tests/document/test_get.py
  tests/integration_tests/setup_db.py
Due: pyright

Return correct slug
  app/repository/family.py
Due: pyright

remove old fixture
  tests/integration_tests/conftest.py
Due: pyright

PDCT-1010/speed_up_tests (#117)
  app/clients/db/session.py
  app/repository/family.py
  app/service/collection.py
  app/service/document.py
  app/service/event.py
  app/service/family.py
  tests/integration_tests/collection/test_delete.py
  tests/integration_tests/conftest.py
  tests/integration_tests/document/test_get.py
  tests/integration_tests/setup_db.py
Due: pyright

Update .markdownlint.yaml
  .trunk/configs/.markdownlint.yaml
Due: none

Use always() and ! cancelled() to avoid uncancellable workflows
  .github/workflows/ci-cd.yml
Due: none

Add dependency update to PR template
  .github/pull_request_template.md
Due: markdownlint-cli2-fix-rules-docker

Feature/pdct 1045 use canceled and always for ci checks (#123)
  .github/pull_request_template.md
  .github/workflows/ci-cd.yml
  .trunk/configs/.markdownlint.yaml
Due: markdownlint-cli2-fix-rules-docker

Return None to API from service layer if family with given ID not found
  app/service/family.py
  tests/unit_tests/service/test_family_service.py
Due: pyright

Hard delete family if it has no docs associated & it's unpublished
  app/repository/family.py
  tests/integration_tests/family/test_delete.py
Due: pyright

Add more precommits, disable hadolint & upgrade linters
  .trunk/trunk.yaml
Due: none

Bump package version to 2.3.1
  pyproject.toml
Due: none

PDCT-1022 Potential debounce fix
  .github/workflows/ci-cd.yml
Due: none

Bugfix/pdct 1019 fix family delete (#124)
  .github/workflows/ci-cd.yml
  .trunk/trunk.yaml
  app/repository/family.py
  app/service/family.py
  pyproject.toml
  tests/integration_tests/family/test_delete.py
  tests/unit_tests/service/test_family_service.py
Due: pyright

Turn off B rules for ruff
  .trunk/configs/ruff.toml
Due: none

Check user org is the same as the owner of the family being deleted
  app/api/api_v1/routers/family.py
  app/service/family.py
Due: pyright

Update family service delete tests for checking user permissions
  tests/unit_tests/service/test_family_service.py
Due: pyright

Check user org is the same as the owner of the family of the doc being deleted
  app/api/api_v1/routers/document.py
  app/service/document.py
Due: pyright

Update document service delete tests for checking user permissions
  tests/unit_tests/mocks/repos/document_repo.py
  tests/unit_tests/service/test_document_service.py
Due: pyright

Update family router delete tests for checking user permissions
  tests/unit_tests/mocks/services/family_service.py
  tests/unit_tests/routers/test_family.py
Due: pyright

Update document router delete tests for checking user permissions
  tests/unit_tests/mocks/services/document_service.py
  tests/unit_tests/routers/test_document.py
Due: pyright

Added integration test to check 400 returned on doc delete if org mismatch
  tests/integration_tests/document/test_delete.py
Due: pyright
