Repository climatepolicyradar/navigator-admin-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, markdownlint-cli2-fix-rules-docker

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-json
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.2
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: pyright
        name: pyright (admin-backend)
        entry: pyright
        language: node
        types: [python]
        additional_dependencies: ["pyright@1.1.294"]
  - repo: local
    hooks:
      - id: markdownlint-cli2-fix-rules-docker
        name: markdownlint (admin-backend)
        description: "Checks and fixes the style of Markdown files."
        entry: davidanson/markdownlint-cli2-rules markdownlint-cli2-fix
        language: docker_image
        types: [markdown]
        minimum_pre_commit_version: 0.15.0
# TODO more checks? e.g. bandit, safety, snyk, ...

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update trunk.yaml
  .trunk/trunk.yaml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update poetry.lock
  poetry.lock
Due: none

Update Dockerfile
  Dockerfile
Due: none

Update Dockerfile.webapp
  Dockerfile.webapp
Due: none

Block dependabot major version auto approves & update CODEOWNERS (#431)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/ci-cd.yml
  .trunk/trunk.yaml
  Dockerfile
  Dockerfile.webapp
  poetry.lock
  pyproject.toml
Due: none

Update new user script import (#427)
  scripts/generate_new_user_sql.sh
Due: none

Add entity counter on org create
  app/errors.py
  app/repository/family.py
  app/repository/helpers.py
  app/repository/organisation.py
  app/service/organisation.py
  tests/integration_tests/organisation/test_create.py
  tests/integration_tests/organisation/test_update.py
  tests/mocks/repos/organisation_repo.py
  tests/mocks/repos/rollback_organisation_repo.py
  tests/unit_tests/routers/organisation/test_create.py
  tests/unit_tests/routers/organisation/test_update.py
  tests/unit_tests/service/organisation/test_organisation_service.py
Due: pyright

Stop log pollution
  app/clients/aws/s3bucket.py
  app/repository/corpus.py
  app/repository/corpus_type.py
  app/repository/document.py
  app/repository/event.py
  app/repository/family.py
  app/service/collection.py
  app/service/config.py
  app/service/database_dump.py
  app/service/token.py
Due: pyright

Fix poetry install
  Dockerfile.webapp
  poetry.lock
  pyproject.toml
Due: none

Revert "Stop log pollution"
  app/clients/aws/s3bucket.py
  app/repository/corpus.py
  app/repository/corpus_type.py
  app/repository/document.py
  app/repository/event.py
  app/repository/family.py
  app/service/collection.py
  app/service/config.py
  app/service/database_dump.py
  app/service/token.py
Due: pyright

Fix import
  scripts/generate_new_user_sql.sh
Due: none

Update the mocks
  app/repository/organisation.py
  tests/helpers/organisation.py
  tests/mocks/services/organisation_service.py
  tests/unit_tests/conftest.py
  tests/unit_tests/service/organisation/test_organisation_service.py
Due: pyright

Update organisation.py
  app/repository/organisation.py
Due: pyright

Add entity counter on org create (#443)
  Dockerfile.webapp
  app/errors.py
  app/repository/family.py
  app/repository/helpers.py
  app/repository/organisation.py
  app/service/organisation.py
  poetry.lock
  pyproject.toml
  tests/helpers/organisation.py
  tests/integration_tests/organisation/test_create.py
  tests/integration_tests/organisation/test_update.py
  tests/mocks/repos/organisation_repo.py
  tests/mocks/repos/rollback_organisation_repo.py
  tests/mocks/services/organisation_service.py
  tests/unit_tests/conftest.py
  tests/unit_tests/routers/organisation/test_create.py
  tests/unit_tests/routers/organisation/test_update.py
  tests/unit_tests/service/organisation/test_organisation_service.py
Due: pyright

Fix deleted bug
  app/repository/family.py
  app/repository/helpers.py
  tests/integration_tests/family/test_get.py
  tests/integration_tests/family/test_search.py
Due: pyright

Try and fix dependency issue
  poetry.lock
  pyproject.toml
Due: none

Update deps
  poetry.lock
  pyproject.toml
Due: none

Add slack-sdk
  poetry.lock
  pyproject.toml
Due: none

Fix deleted bug (#448)
  app/repository/family.py
  app/repository/helpers.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/family/test_get.py
  tests/integration_tests/family/test_search.py
Due: pyright

Fix tests so unit tests don't run against Docker
  .github/workflows/ci-cd.yml
  Makefile
  README.md
Due: markdownlint-cli2-fix-rules-docker

Update conftest.py
  tests/unit_tests/conftest.py
Due: pyright

Fix tests so unit tests don't run against Docker (#451)
  .github/workflows/ci-cd.yml
  Makefile
  README.md
  tests/unit_tests/conftest.py
Due: pyright, markdownlint-cli2-fix-rules-docker

Remove fan out
  app/model/document.py
  app/repository/document.py
  tests/helpers/document.py
  tests/integration_tests/document/test_get.py
  tests/integration_tests/setup_db.py
Due: pyright

Update test_get.py
  tests/integration_tests/document/test_get.py
Due: pyright

Fix deleted bug (#452)
  app/model/document.py
  app/repository/document.py
  poetry.lock
  tests/helpers/document.py
  tests/integration_tests/document/test_get.py
  tests/integration_tests/setup_db.py
Due: pyright

chore: reference application engineers when the bulk import fails
  app/service/bulk_import.py
Due: pyright

fix: handle none types
  app/service/bulk_import.py
Due: pyright

chore: reference application engineers when the bulk import fails (#456)
  app/service/bulk_import.py
Due: pyright

WIP: Move some of the infra to here
  infra/Pulumi.production.yaml
  infra/Pulumi.staging.yaml
  infra/Pulumi.yaml
  infra/__main__.py
  infra/app_runner_service.py
  poetry.lock
  pyproject.toml
Due: pyright

chore: add required files for stack
  infra/__main__.py
  infra/resources/app_runner_service.py
  infra/resources/ecr_repository.py
  infra/resources/github_actions_role.py
  infra/resources/naming.py
  infra/resources/util.py
Due: pyright

chore: deploy to ECS Express on merge to main
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/merge-to-main.yml
  infra/__main__.py
Due: pyright
