Repository climatepolicyradar/navigator-admin-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, markdownlint-cli2-fix-rules-docker

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-json
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.2
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: pyright
        name: pyright (admin-backend)
        entry: pyright
        language: node
        types: [python]
        additional_dependencies: ["pyright@1.1.294"]
  - repo: local
    hooks:
      - id: markdownlint-cli2-fix-rules-docker
        name: markdownlint (admin-backend)
        description: "Checks and fixes the style of Markdown files."
        entry: davidanson/markdownlint-cli2-rules markdownlint-cli2-fix
        language: docker_image
        types: [markdown]
        minimum_pre_commit_version: 0.15.0
# TODO more checks? e.g. bandit, safety, snyk, ...

feat: add docker dev and test workflows
  .gitignore
  Dockerfile.postgres
  Dockerfile.webapp
  Makefile
  README.md
  docker-compose-dev.yml
  docker-compose-test.yml
  poetry.lock
  pyproject.toml
Due: markdownlint-cli2-fix-rules-docker

Feature/pdct 1542 metadata validation with pydantic (#265)
  app/model/bulk_import.py
  pyproject.toml
  tests/unit_tests/service/bulk_import/test_bulk_import_service.py
Due: pyright

fix: fix some lose ends on compose workflows
  .env.example
  .github/workflows/ci-cd.yml
  Dockerfile.postgres
  Dockerfile.webapp
  Makefile
  docker-compose-dev.yml
  docker-compose-test.yml
  docker-compose.yml
Due: none

fix: fix some lose ends on compose workflows
  .trunk/trunk.yaml
Due: none

fix: fix some lose ends on compose workflows
  Dockerfile.postgres
Due: none

fix: trunk
  Dockerfile.postgres
Due: none

fix: update version
  pyproject.toml
Due: none

fix: trunk
  Dockerfile.webapp
  README.md
Due: markdownlint-cli2-fix-rules-docker

Feature/pdct 1525 add a limit parameter to the ingest endpoint (#264)
  app/api/api_v1/routers/bulk_import.py
  app/service/bulk_import.py
  pyproject.toml
  tests/integration_tests/bulk_import/test_bulk_import.py
  tests/unit_tests/service/bulk_import/test_bulk_import_service.py
Due: pyright

fix: fix bash syntax when installing postgres-client
  Dockerfile.webapp
Due: none

chore: update version
  pyproject.toml
Due: none

feat: add multi geographies test
  app/api/api_v1/routers/family.py
  app/repository/family.py
  app/repository/protocols.py
  app/service/family.py
  pyproject.toml
  tests/integration_tests/family/test_search.py
  tests/integration_tests/setup_db.py
  tests/mocks/repos/bad_family_repo.py
  tests/mocks/repos/family_repo.py
  tests/mocks/services/family_service.py
Due: pyright

fix: add __init__ files to avoid pytest name conflict errors
  tests/integration_tests/bulk_import/__init__.py
  tests/unit_tests/routers/bulk_import/__init__.py
Due: pyright

fix: make timeout for postgres massive
  Dockerfile.postgres
  docker-compose-test.yml
Due: none

test: add postgres_user to postgres dockerfile
  Dockerfile.postgres
Due: none

Revert "test: add postgres_user to postgres dockerfile"
  Dockerfile.postgres
Due: none

fix: remove build and env steps in GHA for testing:
  .github/workflows/ci-cd.yml
Due: none

fix: remove fulldata compose yml
  docker-compose-fulldata.yml
Due: none

test: see if env values work in GHA
  .github/workflows/ci-cd.yml
Due: none

Local development via Docker (#261)
  .env.example
  .github/workflows/ci-cd.yml
  .gitignore
  .trunk/trunk.yaml
  Dockerfile.postgres
  Dockerfile.webapp
  Makefile
  README.md
  docker-compose-dev.yml
  docker-compose-fulldata.yml
  docker-compose-test.yml
  docker-compose.yml
  poetry.lock
  pyproject.toml
  tests/integration_tests/bulk_import/__init__.py
  tests/unit_tests/routers/bulk_import/__init__.py
Due: pyright, markdownlint-cli2-fix-rules-docker

Update pyproject.toml
  pyproject.toml
Due: none

Add multi geographies to search API (#266)
  app/api/api_v1/routers/family.py
  app/repository/family.py
  app/repository/protocols.py
  app/service/family.py
  pyproject.toml
  tests/integration_tests/family/test_search.py
  tests/integration_tests/setup_db.py
  tests/mocks/repos/bad_family_repo.py
  tests/mocks/repos/family_repo.py
  tests/mocks/services/family_service.py
Due: pyright

Transform metadata to list of strings
  app/repository/family.py
Due: pyright

Bump to 2.17.24
  pyproject.toml
Due: none

Expect metadata to be str arrays
  app/model/family.py
  tests/integration_tests/family/test_create.py
  tests/unit_tests/service/family/test_create_family_service.py
  tests/unit_tests/service/family/test_update_family_service.py
Due: pyright

Revert
  app/repository/family.py
Due: pyright

Bump db client to 3.8.27
  poetry.lock
  pyproject.toml
Due: none

Bump db client to 3.8.27
  pyproject.toml
Due: none

Update poetry.lock
  poetry.lock
Due: none

feat: WIP - update query to accomodate for multi geos related to a family
  app/model/family.py
  app/repository/family.py
Due: pyright

Added lazy load to prevent multiplicity
  app/main.py
  app/repository/family.py
Due: pyright

Add missing env variables to example
  .env.example
Due: none

Fix unit tests
  tests/unit_tests/service/family/test_update_family_service.py
Due: pyright

Make family metadata array of str
  tests/integration_tests/setup_db.py
Due: pyright

Fix integration tests
  tests/integration_tests/family/test_create.py
  tests/integration_tests/family/test_search.py
Due: pyright

Feature/pdct 1790 convert all family metadata list values to strings (#267)
  .env.example
  app/model/family.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/family/test_create.py
  tests/integration_tests/family/test_search.py
  tests/integration_tests/setup_db.py
  tests/unit_tests/service/family/test_create_family_service.py
  tests/unit_tests/service/family/test_update_family_service.py
Due: pyright

refactor: update subquery to aggregate geography values
  app/repository/family.py
Due: pyright

feat: update package in pyproject
  pyproject.toml
Due: none
