Repository climatepolicyradar/navigator-admin-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, markdownlint-cli2-fix-rules-docker

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-json
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.2
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: pyright
        name: pyright (admin-backend)
        entry: pyright
        language: node
        types: [python]
        additional_dependencies: ["pyright@1.1.294"]
  - repo: local
    hooks:
      - id: markdownlint-cli2-fix-rules-docker
        name: markdownlint (admin-backend)
        description: "Checks and fixes the style of Markdown files."
        entry: davidanson/markdownlint-cli2-rules markdownlint-cli2-fix
        language: docker_image
        types: [markdown]
        minimum_pre_commit_version: 0.15.0
# TODO more checks? e.g. bandit, safety, snyk, ...

test: left join collections subquery does not exlude families without collections
  tests/integration_tests/family/test_search.py
Due: pyright

feature/app-737-fix-collections-subquery-in-family-to-do-search-endpoint (#346)
  app/repository/family.py
  app/repository/helpers.py
  tests/integration_tests/family/test_search.py
Due: pyright

Make description optional
  app/model/config.py
  app/repository/config.py
Due: pyright

Use actual docker file in development
  Makefile
Due: none

Feature/app 201 make corpus description an optional schema field (#356)
  Makefile
  app/model/config.py
  app/repository/config.py
Due: pyright

feat: usepformat to format logs
  app/model/bulk_import.py
Due: pyright

feat: prettify nested dicts
  app/model/bulk_import.py
Due: pyright

Feat prettify and format bulk import logs (#361)
  app/model/bulk_import.py
Due: pyright

feat: add latest to ECR push
  .github/workflows/merge-to-main.yml
Due: none

feat: add latest to ECR push (#362)
  .github/workflows/merge-to-main.yml
Due: none

Bump db-client to v3.9.18
  poetry.lock
  pyproject.toml
Due: none

Bump db-client to v3.9.18 (#363)
  poetry.lock
  pyproject.toml
Due: none

Add a basic post endpoint for creating organisations
  app/api/api_v1/routers/organisation.py
  app/model/authorisation.py
  app/model/organisation.py
  tests/integration_tests/organisation/test_create.py
Due: pyright

Save new organisation to db
  app/api/api_v1/routers/organisation.py
  app/repository/organisation.py
  app/service/organisation.py
  tests/integration_tests/organisation/test_create.py
Due: pyright

Return 503 on repository error when creating a new org
  app/api/api_v1/routers/organisation.py
  tests/mocks/repos/organisation_repo.py
  tests/unit_tests/routers/organisation/test_create.py
Due: pyright

Do not create a new org on error
  app/api/api_v1/routers/organisation.py
  app/service/organisation.py
  tests/integration_tests/conftest.py
  tests/integration_tests/organisation/test_create.py
  tests/mocks/repos/rollback_organisation_repo.py
Due: pyright

Add basic endpoint for updating existing organisations
  app/api/api_v1/routers/organisation.py
  app/model/authorisation.py
  app/model/organisation.py
  app/repository/organisation.py
  app/service/organisation.py
  tests/integration_tests/organisation/test_update.py
Due: pyright

Return 404 if collection not found for update
  app/api/api_v1/routers/organisation.py
  app/repository/organisation.py
  app/service/organisation.py
  tests/integration_tests/organisation/test_update.py
Due: pyright

Add tests for auth on the new org endpoints
  tests/integration_tests/organisation/test_create.py
  tests/integration_tests/organisation/test_update.py
Due: pyright

Handle repository errors on update
  app/api/api_v1/routers/organisation.py
  app/service/organisation.py
  tests/integration_tests/organisation/test_update.py
  tests/mocks/repos/rollback_organisation_repo.py
Due: pyright

Add more error handling
  app/api/api_v1/routers/organisation.py
  app/repository/organisation.py
  tests/integration_tests/organisation/test_update.py
  tests/mocks/repos/organisation_repo.py
  tests/mocks/repos/rollback_organisation_repo.py
  tests/unit_tests/routers/organisation/test_update.py
Due: pyright

Remove unused import
  app/api/api_v1/routers/organisation.py
Due: pyright

Fix tests
  tests/integration_tests/organisation/test_all.py
  tests/integration_tests/organisation/test_get.py
  tests/integration_tests/setup_db.py
Due: pyright

Fix error detail and use the new db session
  app/api/api_v1/routers/organisation.py
  app/repository/organisation.py
  app/service/organisation.py
Due: pyright

Update expected error detail
  tests/integration_tests/organisation/test_update.py
Due: pyright

Fix test
  tests/integration_tests/organisation/test_update.py
Due: pyright

Feature/app 973 enable creating and editing organisations via the admin (#364)
  app/api/api_v1/routers/organisation.py
  app/model/authorisation.py
  app/model/organisation.py
  app/repository/organisation.py
  app/service/organisation.py
  tests/integration_tests/conftest.py
  tests/integration_tests/organisation/test_all.py
  tests/integration_tests/organisation/test_create.py
  tests/integration_tests/organisation/test_get.py
  tests/integration_tests/organisation/test_update.py
  tests/integration_tests/setup_db.py
  tests/mocks/repos/organisation_repo.py
  tests/mocks/repos/rollback_organisation_repo.py
  tests/unit_tests/routers/organisation/test_create.py
  tests/unit_tests/routers/organisation/test_update.py
Due: pyright

Update: add documentation of IP address detection for source of idle connections
  docs/runbooks/flush-rds-connections.md
Due: markdownlint-cli2-fix-rules-docker

Fix: linting
  docs/runbooks/flush-rds-connections.md
Due: markdownlint-cli2-fix-rules-docker

fix: dispose of db engine on lifecycle shutdown
  Dockerfile
Due: none

fix: dispose of db engine on lifecycle shutdown (#370)
  Dockerfile
Due: none

fix: create latest tag before trying to push it
  .github/workflows/merge-to-main.yml
Due: none

fix: create latest tag before trying to push it (#371)
  .github/workflows/merge-to-main.yml
Due: none

Bump db-client to v3.9.20
  poetry.lock
  pyproject.toml
Due: none

feat: add attribution_url to corpus
  app/model/corpus.py
  app/repository/corpus.py
  poetry.lock
  pyproject.toml
Due: pyright

refactor: organisation endpoints accepts and returns none types
  app/model/organisation.py
  app/repository/organisation.py
Due: pyright

test: add tests for attribution url being a none type
  tests/integration_tests/organisation/test_create.py
  tests/integration_tests/organisation/test_update.py
  tests/integration_tests/setup_db.py
Due: pyright

Feature/app 1030 set attribution url for sabin and null for all other (#374)
  app/model/organisation.py
  app/repository/organisation.py
  tests/integration_tests/organisation/test_create.py
  tests/integration_tests/organisation/test_update.py
  tests/integration_tests/setup_db.py
Due: pyright

chore: trunk
  docs/runbooks/flush-rds-connections.md
Due: markdownlint-cli2-fix-rules-docker

Update: add documentation of IP address detection (#369)
  docs/runbooks/flush-rds-connections.md
Due: markdownlint-cli2-fix-rules-docker
