Repository climatepolicyradar/navigator-admin-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, markdownlint-cli2-fix-rules-docker

pyright:
  name: pyright (admin-backend)
  entry: pyright
  language: node
  additional_dependencies:
  - pyright@1.1.294

markdownlint-cli2-fix-rules-docker:
  name: markdownlint (admin-backend)
  description: Checks and fixes the style of Markdown files.
  entry: davidanson/markdownlint-cli2-rules markdownlint-cli2-fix
  language: docker_image
  minimum_pre_commit_version: 0.15.0

Spike: Upload corpus image to s3 (#338)
  .trunk/trunk.yaml
  Makefile
  app/api/api_v1/routers/corpus.py
  app/clients/aws/s3bucket.py
  app/model/corpus.py
  app/repository/document_file.py
  app/service/corpus.py
  app/service/document.py
  docker-compose-dev.yml
  poetry.lock
  pyproject.toml
  tests/integration_tests/corpus/test_corpus_logo.py
  tests/mocks/services/corpus_service.py
  tests/unit_tests/routers/corpus/test_corpus_logo.py
  tests/unit_tests/service/corpus/test_corpus_logo_service.py
  tests/unit_tests/service/document/test_get_upload_details_document_service.py
Due: pyright

Use staging instead of dec
  app/main.py
Due: pyright

Update pyproject.toml
  pyproject.toml
Due: none

Use eu-west-1 as region
  app/clients/aws/client.py
Due: pyright

Use SSM params as environment variables (#339)
  app/clients/aws/client.py
  app/main.py
  pyproject.toml
Due: pyright

Service manifest
  Dockerfile
  service-manifest.json
Due: none

Basic instrumentation added, tweaked service manifest location and structure
  Dockerfile
  Dockerfile.webapp
  app/api/api_v1/routers/analytics.py
  app/api/api_v1/routers/app_token.py
  app/api/api_v1/routers/auth.py
  app/api/api_v1/routers/bulk_import.py
  app/api/api_v1/routers/collection.py
  app/api/api_v1/routers/config.py
  app/api/api_v1/routers/corpus.py
  app/api/api_v1/routers/corpus_type.py
  app/api/api_v1/routers/document.py
  app/api/api_v1/routers/event.py
  app/api/api_v1/routers/family.py
  app/api/api_v1/routers/organisation.py
  app/main.py
  app/service-manifest.json
  app/telemetry.py
  app/telemetry_config.py
  app/telemetry_exceptions.py
  poetry.lock
  pyproject.toml
Due: pyright

Runbook for flushing RDS connections
  docs/runbooks/flush-rds-connections.md
Due: markdownlint-cli2-fix-rules-docker

fet: add telemetry loggin to family routes
  app/clients/db/session.py
  app/main.py
  app/repository/family.py
  app/repository/protocols.py
  app/service/family.py
  app/telemetry.py
Due: pyright

trunk fmt fix
  docs/runbooks/flush-rds-connections.md
Due: markdownlint-cli2-fix-rules-docker

Runbook for flushing RDS connections (#341)
  docs/runbooks/flush-rds-connections.md
Due: markdownlint-cli2-fix-rules-docker

Add hash deploys for admin backend
  .github/workflows/deploy-staging.yml
  .github/workflows/merge-to-main.yml
Due: none

Add hash deploys for admin backend (#342)
  .github/workflows/deploy-staging.yml
  .github/workflows/merge-to-main.yml
Due: none

Remove unused jobs
  .github/pull_request_template.md
  .github/workflows/ci-cd.yml
Due: markdownlint-cli2-fix-rules-docker

Feature/app 760 Remove old workflows (#343)
  .github/pull_request_template.md
  .github/workflows/ci-cd.yml
Due: markdownlint-cli2-fix-rules-docker

Replace moto_s3 with moto_aws
  tests/integration_tests/corpus/test_corpus_logo.py
  tests/unit_tests/conftest.py
Due: pyright

Update poetry.lock
  poetry.lock
Due: none

Change region to eu-west-1
  tests/integration_tests/corpus/test_corpus_logo.py
  tests/unit_tests/clients/aws/test_client.py
  tests/unit_tests/conftest.py
Due: pyright

Create bulk import summary from the result rather than input data
  app/service/bulk_import.py
Due: pyright

Bump patch version
  pyproject.toml
Due: none

Fix bulk import summary (#345)
  app/service/bulk_import.py
  pyproject.toml
Due: pyright

add function to close db connections via context manager
  app/clients/db/session.py
  app/repository/family.py
  app/service/family.py
Due: pyright

fix: cursor got a bit trigger happy so acciddentally added whilst committing
  app/repository/family.py
Due: pyright

refactor: move the collections sub query out of the serialisation process and into the main sql query
  app/repository/family.py
  app/repository/helpers.py
Due: pyright

chore: add function to close db connections via context manager
  app/clients/db/session.py
  app/service/family.py
Due: pyright

chore: add function to close db connections via context manager (#347)
  app/clients/db/session.py
  app/service/family.py
Due: pyright

Bump db-client to ${VERSION}
  poetry.lock
  pr_body.md
  pyproject.toml
Due: markdownlint-cli2-fix-rules-docker

Bump db-client to v3.8.12
  poetry.lock
  pyproject.toml
Due: none

Bump db-client to v3.9.15
  poetry.lock
  pyproject.toml
Due: none

Bump db-client to v3.9.16
  poetry.lock
  pyproject.toml
Due: none

Allow corpus description to be null
  app/model/corpus.py
  app/repository/corpus.py
  tests/helpers/corpus.py
  tests/integration_tests/corpus/test_create.py
  tests/integration_tests/corpus/test_update.py
Due: pyright

Bump db-client to v3.9.17
  poetry.lock
  pyproject.toml
Due: none

Squashed commit of the following:
  app/model/corpus.py
  app/repository/corpus.py
  tests/helpers/corpus.py
  tests/integration_tests/corpus/test_create.py
  tests/integration_tests/corpus/test_update.py
Due: pyright

:robot: Bump db-client to v3.9.17 (#354)
  app/model/corpus.py
  app/repository/corpus.py
  poetry.lock
  pyproject.toml
  tests/helpers/corpus.py
  tests/integration_tests/corpus/test_create.py
  tests/integration_tests/corpus/test_update.py
Due: pyright

Expose port 8888 in dockerfile
  Dockerfile
Due: none

Expose port in dockerfile & recreate lockfile (#355)
  Dockerfile
  poetry.lock
Due: none

Path conditions:
  pyright: any of: \.py$
  markdownlint-cli2-fix-rules-docker: any of: \.(md|markdown|mdown)$
