Repository climatepolicyradar/navigator-admin-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, markdownlint-cli2-fix-rules-docker

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-json
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.2
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: pyright
        name: pyright (admin-backend)
        entry: pyright
        language: node
        types: [python]
        additional_dependencies: ["pyright@1.1.294"]
  - repo: local
    hooks:
      - id: markdownlint-cli2-fix-rules-docker
        name: markdownlint (admin-backend)
        description: "Checks and fixes the style of Markdown files."
        entry: davidanson/markdownlint-cli2-rules markdownlint-cli2-fix
        language: docker_image
        types: [markdown]
        minimum_pre_commit_version: 0.15.0
# TODO more checks? e.g. bandit, safety, snyk, ...

Create password-hashes.md
  docs/password-hashes.md
Due: markdownlint-cli2-fix-rules-docker

Bump to 2.17.17
  pyproject.toml
Due: none

Fix unit tests
  tests/unit_tests/conftest.py
Due: pyright

Add cleanup fixture that deletes files saved to s3 during integration tests
  pyproject.toml
  tests/integration_tests/conftest.py
  tests/integration_tests/ingest/test_ingest.py
Due: pyright

Update env example
  .env.example
Due: none

Move init-s3 to the tests directory
  GETTING_STARTED.md
  docker-compose.yml
  tests/integration_tests/init-s3.py
Due: pyright, markdownlint-cli2-fix-rules-docker

WIP
  app/api/api_v1/routers/family.py
  app/model/family.py
  app/repository/family.py
  app/repository/geography.py
  app/repository/protocols.py
  app/service/family.py
  app/service/ingest.py
  tests/integration_tests/family/test_search.py
  tests/integration_tests/setup_db.py
Due: pyright

Replace hard coded values with env variables and remove unnecessary code from s3 mock
  tests/integration_tests/init-s3.py
  tests/unit_tests/conftest.py
Due: pyright

Rename
  pyproject.toml
  tests/integration_tests/conftest.py
  tests/integration_tests/ingest/test_ingest.py
Due: pyright

Swallow exceptions if s3 cleanup has error
  tests/integration_tests/conftest.py
Due: pyright

Add error handling
  tests/integration_tests/init-s3.py
Due: pyright

Point localstack to env file
  docker-compose.yml
  tests/integration_tests/init-s3.py
Due: pyright

fix: fix geogrpahy filter on family search
  app/repository/family.py
  tests/integration_tests/family/test_search.py
  tests/integration_tests/family/test_update.py
  tests/integration_tests/setup_db.py
Due: pyright

fix: update new version number
  pyproject.toml
Due: none

Feature/pdct 1570 add aws s3 docker image for integration tests (#254)
  .env.example
  .gitignore
  GETTING_STARTED.md
  README.md
  app/clients/aws/s3bucket.py
  docker-compose.yml
  pyproject.toml
  tests/integration_tests/conftest.py
  tests/integration_tests/ingest/test_ingest.py
  tests/integration_tests/init-s3.py
  tests/unit_tests/clients/aws/test_client.py
  tests/unit_tests/conftest.py
Due: pyright, markdownlint-cli2-fix-rules-docker

Add link to bulk import procedure doc
  README.md
Due: markdownlint-cli2-fix-rules-docker

Add link to bulk import procedure doc (#260)
  README.md
Due: markdownlint-cli2-fix-rules-docker

fix: move test_search_geographies to table based test
  tests/integration_tests/family/test_search.py
Due: pyright

fix: update project toml
  pyproject.toml
Due: none

fix: add trunk ignore to docker-compose
  docker-compose.yml
Due: none

fix: add space for consistency
  docker-compose-fulldata.yml
  docker-compose.yml
Due: none

fix: put depends on localstck back into docker compose
  docker-compose.yml
Due: none

fix: fix URL on test_search_geographies test
  tests/integration_tests/family/test_search.py
Due: pyright

fix geography filter on family search (#257)
  app/repository/family.py
  pyproject.toml
  tests/integration_tests/family/test_search.py
  tests/integration_tests/family/test_update.py
  tests/integration_tests/setup_db.py
Due: pyright

Add pgAdmin to docker compose for nice local admin UI (#255)
  docker-compose-fulldata.yml
  docker-compose.yml
Due: none

Rename
  app/api/api_v1/routers/__init__.py
  app/api/api_v1/routers/bulk_import.py
  app/clients/aws/s3bucket.py
  app/main.py
  app/model/authorisation.py
  app/model/bulk_import.py
  app/service/bulk_import.py
  app/service/validation.py
  tests/helpers/bulk_import.py
  tests/integration_tests/bulk_import/test_bulk_import.py
  tests/integration_tests/bulk_import/test_bulk_import_template.py
  tests/mocks/services/bulk_import_service.py
  tests/unit_tests/clients/aws/test_client.py
  tests/unit_tests/conftest.py
  tests/unit_tests/routers/bulk_import/test_bulk_import.py
  tests/unit_tests/routers/bulk_import/test_get_bulk_import_template.py
  tests/unit_tests/service/bulk_import/test_bulk_import_service.py
Due: pyright

Bump patch version
  pyproject.toml
Due: none

Add metadata validation to validation service
  app/service/validation.py
  tests/unit_tests/service/validation/test_metadata_validation.py
Due: pyright

Feature/pdct 1556 make naming consistent (#262)
  app/api/api_v1/routers/__init__.py
  app/api/api_v1/routers/bulk_import.py
  app/clients/aws/s3bucket.py
  app/main.py
  app/model/authorisation.py
  app/model/bulk_import.py
  app/service/bulk_import.py
  app/service/validation.py
  pyproject.toml
  tests/helpers/bulk_import.py
  tests/integration_tests/bulk_import/test_bulk_import.py
  tests/integration_tests/bulk_import/test_bulk_import_template.py
  tests/mocks/services/bulk_import_service.py
  tests/unit_tests/clients/aws/test_client.py
  tests/unit_tests/conftest.py
  tests/unit_tests/routers/bulk_import/test_bulk_import.py
  tests/unit_tests/routers/bulk_import/test_get_bulk_import_template.py
  tests/unit_tests/service/bulk_import/test_bulk_import_service.py
Due: pyright

Add metadata value validation to bulk import endpoint
  app/service/validation.py
  tests/unit_tests/routers/bulk_import/test_bulk_import.py
  tests/unit_tests/service/validation/test_metadata_validation.py
Due: pyright

Add extra test data variation and update docstrings
  app/service/validation.py
  tests/unit_tests/service/validation/test_metadata_validation.py
Due: pyright

Update patch version
  pyproject.toml
Due: none

Add a doc limit parameter to the bulk import endpoint
  app/api/api_v1/routers/bulk_import.py
  app/service/bulk_import.py
  tests/unit_tests/service/bulk_import/test_bulk_import_service.py
Due: pyright

Refactor integration tests to be more explicit
  tests/integration_tests/bulk_import/test_bulk_import.py
Due: pyright

Update docstrings
  app/api/api_v1/routers/bulk_import.py
  app/service/bulk_import.py
Due: pyright

Use pydantic to validate metadata for families
  app/model/bulk_import.py
  tests/unit_tests/service/bulk_import/test_bulk_import_service.py
Due: pyright

Use pydantic to validate document metadata
  app/model/bulk_import.py
  tests/unit_tests/service/bulk_import/test_bulk_import_service.py
Due: pyright

feat: add docker dev and test workflows
  .gitignore
  Dockerfile.postgres
  Dockerfile.webapp
  Makefile
  README.md
  docker-compose-dev.yml
  docker-compose-test.yml
  poetry.lock
  pyproject.toml
Due: markdownlint-cli2-fix-rules-docker
