Repository climatepolicyradar/navigator-admin-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, markdownlint-cli2-fix-rules-docker

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-json
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.2
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: pyright
        name: pyright (admin-backend)
        entry: pyright
        language: node
        types: [python]
        additional_dependencies: ["pyright@1.1.294"]
  - repo: local
    hooks:
      - id: markdownlint-cli2-fix-rules-docker
        name: markdownlint (admin-backend)
        description: "Checks and fixes the style of Markdown files."
        entry: davidanson/markdownlint-cli2-rules markdownlint-cli2-fix
        language: docker_image
        types: [markdown]
        minimum_pre_commit_version: 0.15.0
# TODO more checks? e.g. bandit, safety, snyk, ...

Fix integration test
  app/clients/aws/s3bucket.py
  app/service/ingest.py
  tests/integration_tests/conftest.py
  tests/integration_tests/ingest/router/test_ingest.py
  tests/integration_tests/ingest/service/test_ingest_service.py
Due: pyright

Update s3 client fixture in unit test conftest
  tests/unit_tests/conftest.py
Due: pyright

Remove duplicate tests
  tests/integration_tests/conftest.py
  tests/integration_tests/ingest/test_ingest.py
  tests/unit_tests/conftest.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Add ingest action uuid to the name of the file when saving to s3
  app/clients/aws/s3bucket.py
  tests/unit_tests/clients/aws/test_client.py
Due: pyright

WIP
  app/service/ingest.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Save ingest result to s3
  app/service/ingest.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Consolidate duplicated testsand change ingest endpoint success response code to 202
  app/api/api_v1/routers/ingest.py
  tests/integration_tests/ingest/router/test_ingest.py
  tests/integration_tests/ingest/service/test_ingest_service.py
  tests/integration_tests/ingest/test_ingest.py
  tests/integration_tests/ingest/test_ingest_template.py
  tests/unit_tests/routers/ingest/test_ingest.py
Due: pyright

Rename
  app/service/ingest.py
Due: pyright

Bump minor version
  pyproject.toml
Due: none

Bump db-client to latest
  pyproject.toml
Due: none

Update poetry lock file
  poetry.lock
Due: none

Remove unused logger
  app/clients/aws/client.py
Due: pyright

Add note to readme re integration tests using mocks and rename variable
  README.md
  app/clients/aws/s3bucket.py
  tests/unit_tests/clients/aws/test_client.py
Due: pyright, markdownlint-cli2-fix-rules-docker

Update idempotency test to include checking the document status
  tests/integration_tests/ingest/test_ingest.py
Due: pyright

Feature/pdct 1393 step 3 remove geography id from family (#226)
  poetry.lock
  pyproject.toml
Due: none

Bump to 2.16.3
  pyproject.toml
Due: none

Bump pyproject version to 2.16.3 fix CI (#230)
  pyproject.toml
Due: none

Save ingest request and result files to project root rather than s3 when running locally
  app/clients/aws/s3bucket.py
  tests/unit_tests/clients/aws/test_client.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Fix test
  tests/helpers/utils.py
  tests/unit_tests/clients/aws/test_client.py
Due: pyright

Try setting env variable in test
  tests/unit_tests/clients/aws/test_client.py
Due: pyright

Add navigator-notify dependency and update python
  poetry.lock
  pyproject.toml
Due: none

Fix upgrade to python 3.10 issues
  poetry.lock
  pyproject.toml
Due: none

Add notification service
  .env.example
  app/api/api_v1/routers/ingest.py
  app/service/ingest.py
  app/service/notification.py
  tests/unit_tests/service/notification/test_notification_service.py
Due: pyright

Feature/pdct 1345 save ingest file to s3 (#227)
  .env.example
  README.md
  app/api/api_v1/routers/ingest.py
  app/clients/aws/s3bucket.py
  app/service/ingest.py
  poetry.lock
  pyproject.toml
  tests/helpers/utils.py
  tests/integration_tests/conftest.py
  tests/integration_tests/ingest/router/test_ingest.py
  tests/integration_tests/ingest/service/test_ingest_service.py
  tests/integration_tests/ingest/test_ingest.py
  tests/integration_tests/ingest/test_ingest_template.py
  tests/mocks/services/ingest_service.py
  tests/unit_tests/clients/aws/test_client.py
  tests/unit_tests/conftest.py
  tests/unit_tests/routers/ingest/test_bulk_data.json
  tests/unit_tests/routers/ingest/test_ingest.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright, markdownlint-cli2-fix-rules-docker

Make integration tests use the aws s3 mock
  app/service/ingest.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/ingest/test_ingest.py
  tests/unit_tests/service/ingest/test_ingest_service.py
  tests/unit_tests/service/notification/test_notification_service.py
Due: pyright

Rename
  .env.example
  app/clients/aws/s3bucket.py
  tests/integration_tests/ingest/test_ingest.py
  tests/unit_tests/clients/aws/test_client.py
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Fix test and change bcrypt version
  poetry.lock
  pyproject.toml
  tests/unit_tests/service/notification/test_notification_service.py
Due: pyright

Fix logging
  app/clients/aws/s3bucket.py
  app/service/notification.py
Due: pyright

Save local bulk import results to a dir that is ignored by git
  .gitignore
  app/clients/aws/s3bucket.py
  tests/unit_tests/clients/aws/test_client.py
Due: pyright

Bump python in Dockerfile
  Dockerfile
Due: none

Remove print
  tests/unit_tests/clients/aws/test_client.py
Due: pyright

Feature/pdct 1538 bulk import make async (#231)
  .env.example
  .gitignore
  Dockerfile
  app/api/api_v1/routers/ingest.py
  app/clients/aws/s3bucket.py
  app/service/ingest.py
  app/service/notification.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/ingest/test_ingest.py
  tests/unit_tests/clients/aws/test_client.py
  tests/unit_tests/service/ingest/test_ingest_service.py
  tests/unit_tests/service/notification/test_notification_service.py
Due: pyright

quick fix
  app/clients/aws/client.py
Due: pyright

bump to tag
  pyproject.toml
Due: none

don't use s3
  app/service/ingest.py
Due: pyright

fix gibberish
  app/service/ingest.py
Due: pyright

modify tests
  tests/unit_tests/service/ingest/test_ingest_service.py
Due: pyright

Fix event validation unit tests
  tests/unit_tests/service/validation/test_event_validation.py
Due: pyright

Bump DB client to 3.8.20
  poetry.lock
  pyproject.toml
Due: none

Bump DB client to 3.8.20 (#234)
  poetry.lock
  pyproject.toml
Due: none
