Repository climatepolicyradar/navigator-admin-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, markdownlint-cli2-fix-rules-docker

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-json
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.2
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: local
    hooks:
      - id: pyright
        name: pyright (admin-backend)
        entry: pyright
        language: node
        types: [python]
        additional_dependencies: ["pyright@1.1.294"]
  - repo: local
    hooks:
      - id: markdownlint-cli2-fix-rules-docker
        name: markdownlint (admin-backend)
        description: "Checks and fixes the style of Markdown files."
        entry: davidanson/markdownlint-cli2-rules markdownlint-cli2-fix
        language: docker_image
        types: [markdown]
        minimum_pre_commit_version: 0.15.0
# TODO more checks? e.g. bandit, safety, snyk, ...

Sanitise input variables for failing auto tagging at PR job
  .github/workflows/ci-cd.yml
Due: none

Double quote to avoid word splitting
  .github/workflows/ci-cd.yml
Due: none

Debug
  .github/workflows/ci-cd.yml
Due: none

Change to unique id
  .github/workflows/ci-cd.yml
Due: none

update tests
  integration_tests/analytics/test_get.py
  integration_tests/blank.sql
  integration_tests/collection/test_create.py
  integration_tests/collection/test_delete.py
  integration_tests/collection/test_get.py
  integration_tests/collection/test_search.py
  integration_tests/collection/test_update.py
  integration_tests/conftest.py
  integration_tests/default-data.sql
  integration_tests/document/test_create.py
  integration_tests/document/test_delete.py
  integration_tests/document/test_get.py
  integration_tests/document/test_search.py
  integration_tests/document/test_update.py
  integration_tests/event/test_create.py
  integration_tests/event/test_delete.py
  integration_tests/event/test_get.py
  integration_tests/event/test_search.py
  integration_tests/event/test_update.py
  integration_tests/family/test_create.py
  integration_tests/family/test_delete.py
  integration_tests/family/test_get.py
  integration_tests/family/test_search.py
  integration_tests/family/test_update.py
  integration_tests/login/test_login.py
  integration_tests/setup_db.py
  integration_tests/test_config.py
Due: pyright

Capitalise env var names
  .github/workflows/ci-cd.yml
Due: none

Change syntax for referencing step env vars
  .github/workflows/ci-cd.yml
Due: none

Use contexts and make envs job level
  .github/workflows/ci-cd.yml
Due: none

Capitalise composite action input names
  .github/workflows/ci-cd.yml
Due: none

fix final tests
  integration_tests/family/test_search.py
  integration_tests/setup_db.py
Due: pyright

Fix formatting trunk issues
  integration_tests/conftest.py
  integration_tests/family/test_update.py
  integration_tests/setup_db.py
Due: pyright

Swap to branch
  .github/workflows/ci-cd.yml
Due: none

fix unbound vars
  integration_tests/conftest.py
Due: pyright

fix bad test data
  integration_tests/family/test_get.py
  integration_tests/setup_db.py
Due: pyright

update test for idempotency
  integration_tests/family/test_update.py
Due: pyright

Fix script to install pyenv-pyright if not in expected location
  .trunk/configure-pyright-with-pyenv.sh
Due: none

Formatting fix
  .trunk/configure-pyright-with-pyenv.sh
Due: none

Add test for checking new schema is also populated on fam create
  integration_tests/family/test_create.py
Due: pyright

Use [[ ]] and prevent hiding return of dir_exists command
  .trunk/configure-pyright-with-pyenv.sh
Due: none

Check old schema 'organisation_id' on family is still populated
  integration_tests/family/test_create.py
Due: pyright

Check org_id not None
  integration_tests/family/test_create.py
Due: pyright

PDCT 998/ensure new documents have relationships in old and new schema (#107)
  .trunk/.gitignore
  .trunk/configure-pyright-with-pyenv.sh
  app/repository/family.py
  integration_tests/analytics/test_get.py
  integration_tests/blank.sql
  integration_tests/collection/test_create.py
  integration_tests/collection/test_delete.py
  integration_tests/collection/test_get.py
  integration_tests/collection/test_search.py
  integration_tests/collection/test_update.py
  integration_tests/conftest.py
  integration_tests/default-data.sql
  integration_tests/document/test_create.py
  integration_tests/document/test_delete.py
  integration_tests/document/test_get.py
  integration_tests/document/test_search.py
  integration_tests/document/test_update.py
  integration_tests/event/test_create.py
  integration_tests/event/test_delete.py
  integration_tests/event/test_get.py
  integration_tests/event/test_search.py
  integration_tests/event/test_update.py
  integration_tests/family/test_create.py
  integration_tests/family/test_delete.py
  integration_tests/family/test_get.py
  integration_tests/family/test_search.py
  integration_tests/family/test_update.py
  integration_tests/login/test_login.py
  integration_tests/setup_db.py
  integration_tests/test_config.py
  poetry.lock
Due: pyright

Suppress pyright typing error for Protocol class
  tests/unit_tests/mocks/repos/__init__.py
Due: pyright

Remove unused import
  tests/integration_tests/setup_db.py
Due: pyright

Run all tests using make test
  .github/workflows/ci-cd.yml
Due: none

fix db-client and upgrade
  poetry.lock
  pyproject.toml
Due: none

make changes to code and tests
  app/repository/metadata.py
  tests/integration_tests/setup_db.py
Due: pyright

Update to use new taxonomy schema (#109)
  app/repository/metadata.py
  poetry.lock
  pyproject.toml
  tests/integration_tests/setup_db.py
Due: pyright

update config to use new schema
  app/repository/config.py
Due: pyright

Updated step names
  .github/workflows/ci-cd.yml
Due: none

Update step name
  .github/workflows/ci-cd.yml
Due: none

update config to use new schema (#111)
  app/repository/config.py
Due: pyright

Remove use of FamilyOrganisation
  app/repository/family.py
Due: pyright

Fail the build if the next tag not found
  .github/workflows/ci-cd.yml
Due: none

Debug to see event info
  .github/workflows/ci-cd.yml
Due: none

Add skip option for autotag & remove redundant quotes
  .github/pull_request_template.md
  .github/workflows/ci-cd.yml
Due: markdownlint-cli2-fix-rules-docker

Move check auto-tagging will work job to separate workflow
  .github/workflows/auto-tagging-failsafe.yml
  .github/workflows/ci-cd.yml
Due: none

Remove debug
  .github/workflows/auto-tagging-failsafe.yml
Due: none

Only run release job if we don't skip the autotagging
  .github/workflows/ci-cd.yml
Due: none
