Repository climatepolicyradar/navigator-admin-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, markdownlint-cli2-fix-rules-docker

pyright:
  name: pyright (admin-backend)
  entry: pyright
  language: node
  additional_dependencies:
  - pyright@1.1.294

markdownlint-cli2-fix-rules-docker:
  name: markdownlint (admin-backend)
  description: Checks and fixes the style of Markdown files.
  entry: davidanson/markdownlint-cli2-rules markdownlint-cli2-fix
  language: docker_image
  minimum_pre_commit_version: 0.15.0

Feature/pdct 1671 s3 back up for bulk import (#248)
  app/clients/aws/s3bucket.py
  pyproject.toml
Due: pyright

Make corpus routes for supers only
  app/model/authorisation.py
  tests/integration_tests/corpus/test_create.py
  tests/integration_tests/corpus/test_update.py
Due: pyright

Remove
  app/model/corpus.py
Due: pyright

Allow update of corpus type description
  app/model/corpus.py
  app/repository/corpus.py
Due: pyright

Bump to 2.17.13
  pyproject.toml
Due: none

Add corpus type description
  tests/helpers/corpus.py
  tests/integration_tests/corpus/test_update.py
Due: pyright

Remove incorrect region when setting up AWS client
  app/clients/aws/s3bucket.py
Due: pyright

Bump patch version to 2.17.13
  pyproject.toml
Due: none

Fix tests
  tests/helpers/corpus.py
  tests/integration_tests/corpus/test_update.py
Due: pyright

Feature/pdct 1671 s3 back up for bulk import (#250)
  app/clients/aws/s3bucket.py
  pyproject.toml
Due: pyright

Update pyproject.toml
  pyproject.toml
Due: none

Add create route to corpus entity (#249)
  app/api/api_v1/routers/corpus.py
  app/model/authorisation.py
  app/model/corpus.py
  app/repository/corpus.py
  app/service/corpus.py
  poetry.lock
  pyproject.toml
  tests/helpers/corpus.py
  tests/integration_tests/collection/test_create.py
  tests/integration_tests/conftest.py
  tests/integration_tests/corpus/test_create.py
  tests/integration_tests/corpus/test_update.py
  tests/integration_tests/family/test_create.py
  tests/integration_tests/setup_db.py
  tests/mocks/repos/bad_corpus_repo.py
  tests/mocks/repos/rollback_corpus_repo.py
Due: pyright

Add corpus types to config
  app/model/config.py
  app/repository/config.py
  tests/integration_tests/config/test_config.py
  tests/mocks/repos/config_repo.py
  tests/mocks/services/config_service.py
  tests/unit_tests/routers/config/test_get_config.py
Due: pyright

Bump to 2.17.15
  pyproject.toml
Due: none

Check uniqueness
  app/repository/config.py
Due: pyright

Don't include taxonomy in ct on config
  app/repository/config.py
Due: pyright

Revert "Don't include taxonomy in ct on config"
  app/repository/config.py
Due: pyright

Add corpus type to config (#252)
  app/model/config.py
  app/repository/config.py
  pyproject.toml
  tests/integration_tests/config/test_config.py
  tests/mocks/repos/config_repo.py
  tests/mocks/services/config_service.py
  tests/unit_tests/routers/config/test_get_config.py
Due: pyright

Add json builder helper function and replace test files in integration tests
  app/service/validation.py
  tests/helpers/ingest.py
  tests/integration_tests/ingest/test_bulk_data.json
  tests/integration_tests/ingest/test_bulk_data_with_invalid_event_type.json
  tests/integration_tests/ingest/test_ingest.py
Due: pyright

Revert "Add corpus type to config (#252)"
  app/model/config.py
  app/repository/config.py
  pyproject.toml
  tests/integration_tests/config/test_config.py
  tests/mocks/repos/config_repo.py
  tests/mocks/services/config_service.py
  tests/unit_tests/routers/config/test_get_config.py
Due: pyright

Replace test json in unit tests with builder
  tests/helpers/ingest.py
  tests/integration_tests/ingest/test_ingest.py
  tests/unit_tests/routers/ingest/test_bulk_data.json
  tests/unit_tests/routers/ingest/test_bulk_ingest.py
  tests/unit_tests/service/validation/test_entity_relationship_validation.py
Due: pyright

Bump patch version
  pyproject.toml
Due: none

Refactor to make test data creation more readable
  tests/helpers/ingest.py
  tests/integration_tests/ingest/test_ingest.py
  tests/unit_tests/routers/ingest/test_bulk_ingest.py
Due: pyright

Add localstack
  docker-compose.yml
Due: none

Simplify adjusting test data with destructuring
  tests/helpers/ingest.py
  tests/integration_tests/ingest/test_ingest.py
  tests/unit_tests/routers/ingest/test_bulk_ingest.py
Due: pyright

Ingest test refactor (#253)
  pyproject.toml
  tests/helpers/ingest.py
  tests/integration_tests/ingest/test_bulk_data.json
  tests/integration_tests/ingest/test_bulk_data_with_invalid_event_type.json
  tests/integration_tests/ingest/test_ingest.py
  tests/mocks/repos/family_repo.py
  tests/unit_tests/routers/ingest/test_bulk_data.json
  tests/unit_tests/routers/ingest/test_bulk_ingest.py
  tests/unit_tests/service/validation/test_entity_relationship_validation.py
Due: pyright

Create S3 bucket in localstack and use in integration tests
  docker-compose.yml
  init-s3.py
  pyproject.toml
  tests/integration_tests/conftest.py
  tests/integration_tests/ingest/test_ingest.py
Due: pyright

Update .env.example
  .env.example
Due: none

Remove unnecessary stuff
  docker-compose.yml
  tests/integration_tests/ingest/test_ingest.py
Due: pyright

Fix unit tests
  tests/integration_tests/conftest.py
  tests/unit_tests/conftest.py
Due: pyright

Update docker-compose.yml
  docker-compose.yml
Due: none

WIP
  .env.example
  .gitignore
  GETTING_STARTED.md
  README.md
  tests/integration_tests/conftest.py
Due: pyright, markdownlint-cli2-fix-rules-docker

WIP
  pyproject.toml
  tests/integration_tests/conftest.py
  tests/integration_tests/ingest/test_ingest.py
Due: pyright

Remove unnecessary logic
  app/clients/aws/s3bucket.py
  tests/unit_tests/clients/aws/test_client.py
Due: pyright

Update patch version
  pyproject.toml
Due: none

feat: add pgadmin to docker compose
  docker-compose.yml
Due: none

feat: make pgadmin a bit more streamline
  docker-compose.yml
Due: none

fix: remove unecesssary hostname
  docker-compose.yml
Due: none

Path conditions:
  pyright: any of: \.py$
  markdownlint-cli2-fix-rules-docker: any of: \.(md|markdown|mdown)$
